$white: #fff;
$cream: #f9f5e5;
$grey: #e3e4e6;
$black: #313131;
$rose-gold: #f7d0cb;
$blush: #f7ddd9;
$muli:'Muli',sans-serif;
$playfair-display: 'Playfair Display', serif;
//cursive font
$great-vibes:'Great Vibes',Helvetica,sans-serif;
