@import '_variables.scss';

.bio {
  &-svg {
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
  }
}

.about {
  display: flex;
  margin: 1rem 2rem 2rem 2rem;
  font-family: $playfair-display;
  color: $black;

  &-groom, &-bride {
    padding: 1rem 0 1rem 0;
    display: flex;
    border-top: 2px solid $rose-gold;
    border-bottom: 2px solid $rose-gold;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 36px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &-groom {
    justify-content: flex-start;
  }

  &-bride {
    justify-content: flex-end;
  }

  &-yes {
    color: $rose-gold;

    svg {
      padding-left: 10px;
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
  }

  &-break {
    background-color: $rose-gold;
    padding: 2rem;
    text-align: center;

    h1 {
      font-size: 48px;
      font-family: $great-vibes;
    }
  }

  &-story {
    padding: 5rem;
    background-color: $grey;
  }

  &-party {
    background-color: $white;
    padding: 2rem;

    h3 {
      text-align: center;
      font-family: $playfair-display;
      text-transform: uppercase;
      font-weight: 400;

      &:nth-child(1) {
        border-top: 2px solid $rose-gold;
        padding-top: 1rem;
      }
    }
  }

  &-images, &-images-2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &-images-2 {
    border-bottom: 2px solid $rose-gold;
    padding-bottom: 2rem;
  }

  &-circle {
    overflow: hidden;
    max-height: 150px;

    img {
      border-radius: 50%;
      // width: 100%;
      min-height: 150px;
    }
  }

  &-role {
    h4, p {
      padding: 0;
      margin: 0;
      text-align: center;
    }

    h4 {
      color: $rose-gold;
      font-family: $great-vibes;
      font-size: 28px;
      padding-top: 1rem;
    }

    p {
      font-family: $playfair-display;
      color: $black;
    }

  }

  .placeholder {
    background-color: #d3d3d3;
    width: 250px;
    height: 300px;
  }
}
