@import './_variables';

.header {
  background-color: lightgrey;
  height: 500px;
  width: 100%;
  text-align: center;

  h1 {
    margin: 0;
    color: $white;
  }
}

.countdown {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  border: 1px solid $white;
  margin: 1rem;
  color: $white;
  text-align: center;
  height: 175px;
  width: 175px;

  p {
    padding: 15px 25px;
    font-size: 24px;
  }

  span {
    font-size: 42px;
    font-weight: 800;
  }
}
