@import './header';
@import './nav';

* {
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

#id {
  display: flex;
  height: 100%;
}

html,
body {
  height: 100%;
  margin:0;
  padding:0;
}
