@import './variables';

.navigation {
  background-color: $rose-gold;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;

    li {
      padding: 0 1rem;

      a {
        text-decoration: none;
        color: $white;
        position: relative;
        font-family: $playfair-display;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $white;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
}

@media (min-width: 812px) and (max-width: 1120px) {
  .navigation {
    ul {
      padding: 1rem 1rem 1rem 1rem;
    }
  }
}

@media (max-width: 812px) {
  .navigation {
    ul {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
  }
}
