@import 'variables.scss';

.wedding {
  text-align: center;
  color: $black;
  padding-top: 1rem;
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/vintage-speckles.png");

  h3 {
    font-family: $playfair-display;
    text-transform: uppercase;
    margin: 0;
  }

  h4 {
    font-family: $great-vibes;
    margin: 0;
  }

}

.details {
  &-map {
    background-color: #d3d3d3;
    width: 1000px;
  }

  &-section {
    display: flex;
    justify-content:center;
    margin-top: 1rem;
  }

  &-reception, &-ceremony {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    padding: 1rem;
    background-color: $white;

    svg {
      display: block;
      margin: auto;
    }

    p {
      margin: 0;
      padding: 0;
      font-family: $playfair-display;
    }
  }

  // &-reception {
  //   background-color: $rose-gold;
  // }

  // &-ceremony {
  //   background-color: $cream;
  // }
}

.timeline {
  background-color: #d3d3d3;
  width: 100%;
  height: 250px;
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

.registry {
  background-color: #d3d3d3;
  padding: 1rem;
  width: 100%;

  &-stores {
    display: flex;
    margin: 1rem;
    justify-content: center;
  }

  &-square {
    width: 200px;
    height: 200px;
    background-color: #fff;
    margin: 1rem;
  }
}
